alembic==1.14.0
attrs==24.3.0
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
Flask==3.1.0
Flask-Cors==5.0.0 #neeeded to install manually
Flask-Mail==0.10.0 #neeeded to install manually
Flask-Migrate==4.0.7 #neeeded to install manually
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
ics==0.7.2 #neeeded to install manually
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.8
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
pluggy==1.5.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
pytest-flask==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1 #neeeded to install manually
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.3
