@tailwind base;
@tailwind components;
@tailwind utilities;

/* High Contrast Mode Styles */
.high-contrast {
  background-color: #ffffff;
  filter: invert(1);
}

/* Revert inversion for media elements */
.high-contrast img,
.high-contrast video,
.high-contrast iframe {
  filter: invert(1);
}

.high-contrast .bg-orange-500 {
  /* Sets the color to red so it is brighter when inverted */
  background-color: #ff0100; 
}

.dyslexic-font {
  font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
}
