@tailwind base;
@tailwind components;
@tailwind utilities;

/* High Contrast Mode Styles */
.high-contrast {
  background-color: #000000;
  color: #ffffff;
  /* filter: invert(1); */
}

/*  Main colors */

.high-contrast .bg-orange-300 {
  background-color: #059ce6;
}

.high-contrast .hover\:bg-orange-200:hover {
  background-color: #0266b3;
}

.high-contrast .bg-orange-500 {
  background-color: #11e7fe;
}

.high-contrast .focus\:border-orange-500:focus {
  border-color: #11e7fe;
}

.high-contrast .hover\:bg-orange-600:hover {
  background-color: #39f4fe;
}

.high-contrast .bg-white {
  background-color: #000000;
}

.high-contrast .bg-gray-100 {
  background-color: #221f1a;
}

.high-contrast .bg-gray-200,
.high-contrast .hover\:bg-gray-200:hover {
  background-color: #464137;
}

.high-contrast .bg-gray-300,
.high-contrast .hover\:bg-gray-300:hover,
.high-contrast .disabled\:bg-gray-300:disabled {
  background-color: #726a5d;
}

.high-contrast .bg-gray-400 {
  background-color: #c4bcac;
}

.high-contrast .bg-gray-500,
.high-contrast .hover\:bg-gray-500:hover {
  background-color: #ece8de;
}

.high-contrast .hover\:bg-gray-600:hover {
  background-color: #f8f5f0;
}

.high-contrast .bg-blue-600 {
  background-color: #fef037;
}

.high-contrast .hover\:bg-blue-600:hover {
  background-color: #fef037;
}

.high-contrast .bg-blue-500 {
  background-color: #fbdd1a;
}

.high-contrast .bg-red-100 {
  background-color: #023e3e;
}

.high-contrast .bg-red-500 {
  background-color: #2dfafa;
}
.high-contrast .text-red-500 {
  color: #2dfafa;
}
.high-contrast .hover\:bg-red-600:hover {
  background-color: #5bfefe;
}

.high-contrast .bg-green-300 {
  background-color: #d92db0;
}

.high-contrast .bg-green-500 {
  background-color: #fe89f2;
}

.high-contrast .hover\:bg-green-600:hover {
  background-color: #febcf8;
}

/* Timeslot Colors */
.high-contrast .bg-red-300 {
  background-color: #08b9b9;
}

.high-contrast .bg-green-500\/80 {
  background-color: #f772e0;
}

.high-contrast .hover\:bg-green-600\/80:hover {
  background-color: #f9a3ea;
}

.high-contrast .bg-yellow-100\/80 {
  background-color: #020e76;
}

.high-contrast .hover\:bg-yellow-200\/80:hover {
  background-color: #0222be;
}

.high-contrast .hover\:bg-green-300\/80:hover {
  background-color: #c22597;
}

.high-contrast .bg-green-100\/80 {
  background-color: #4b0534;
}

.high-contrast .border {
  border-color: #464137;
}

/* Text Colors */
.high-contrast .text-white {
  color: #000000;
}

.high-contrast .text-gray-900 {
  color: #fefefe;
}
.high-contrast .text-gray-800 {
  color: #fcfaf7;
}
.high-contrast .text-gray-700 {
  color: #faf8f4;
}

.high-contrast .text-gray-600 {
  color: #f0ece5;
}

.high-contrast .text-gray-500 {
  color: #e3dfd4;
}

.high-contrast .text-black\/70 {
  color: #fdf9fc;
}
.high-contrast .hover\:text-orange-200:hover {
  color: #0266b3;
}

/* Menu Page Search and Sort */
.high-contrast .border-gray-300 {
  border-color: #726a5d;
}

.high-contrast input[type='text'],
.high-contrast input[type='email'],
.high-contrast select {
  background-color: #000000;
  color: #fbfbfb;
  border-color: #726a5d;
}

.high-contrast input[type='text']::placeholder,
.high-contrast input[type='email']::placeholder {
  color: #bcb4a5;
}

/* Revert inversion for media elements
.high-contrast img,
.high-contrast video,
.high-contrast iframe {
  filter: invert(1);
} */

.dyslexic-font {
  font-family: 'OpenDyslexic', 'Comic Sans MS', sans-serif;
}
